[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"                                 # managed by release.sh
edition = "2021"
authors = ["Scotte Zinn <scotte@zinn.ca>"]
license = "MIT"
homepage = "https://github.com/szinn/rust-arch"
repository = "https://github.com/szinn/rust-arch"
readme = "README.md"
rust-version = "1.79"

[workspace.dependencies]

[workspace.dependencies.tokio]
version = "1.39.1"
default-features = false
features = ["full"]

[workspace.dependencies.tracing]
version = "0.1.40"
features = ["log"]
